


.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.prompt_label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}